.c-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.c-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  height: 592px;
  max-width: 432px;
  padding: 0 1rem;
  width: 100%;

  /* Vertical and horizontal center alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.memo-list {
  height: 550px;
  overflow: scroll;
}

.submit-memo {
  text-align: right;
}

.text-input {
  width: 300px;
  padding: 3px;
  margin: 5px;
}

.memo {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  height: 25px;
  margin-top: 16px;
}
